<%- include("../partials/layout-top.ejs") %>
<script src="/static/scripts/jquery.min.js"></script>
<script src="/static/scripts/buildResumeClient.js"></script>
<script src="/static/scripts/temp1.js" defer></script>
<style>
  @media screen and (max-width: 400px) {
    main{
      width: 90% !important;
    }
  }
</style>
<main class="container text-light rounded my-5 py-3 px-4-sm" style="background-color: #342E37; background-image: linear-gradient(#342E37, #2b00a2);">
  <form class="py-3" onsubmit="main(event)">
    <div class="row g-3">
      <div class="col-12">
        <h3>About</h3>
        <hr />
      </div>
      <div class="col-md-6">
        <label for="first-name" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first-name"
          placeholder="John"
          required
          maxlength="12"
          minlength="2"
        />
      </div>

      <div class="col-md-6">
        <label for="Surname" class="form-label">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          placeholder="Doe"
          maxlength="12"
          minlength="2"
          required
        />
      </div>

      <div class="col-md-8">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Houston Texas"
          maxlength="40"
          minlength="4"
          required
        />
      </div>

      <div class="col-md-4">
        <label for="title" class="form-label">Title</label
        ><input
          type="text"
          id="title"
          class="form-control"
          placeholder="Senior Developer"
          maxlength="30"
          minlength="4"
          required
        />
      </div>

      <div class="col-md-4">
        <label for="street" class="form-label">Street</label
        ><input
          type="text"
          id="street"
          class="form-control"
          placeholder="Mains street Road II"
          required
          maxlength="30"
          minlength="5"
        />
      </div>
      <div class="col-md-4">
        <label for="phone" class="form-label">Phone No.</label
        ><input
          type="text"
          class="form-control"
          id="phone"
          required
          minlength="6"
          maxlength="20"
        />
      </div>
      <div class="col-md-4">
        <label for="zip-code" class="form-label">Zip Code</label>
        <input
          type="number"
          id="zip-code"
          class="form-control"
          maxlength="1000000000"
          minlength="10000"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          maxlength="23"
          minlength="3"
          required
        />
      </div>

      <div class="col-md-7">
        <label for="email" class="form-label">Email</label
        ><input type="email" id="email" class="form-control" required />
      </div>

      <div class="col-md-2">
        <label for="references" class="form-label">References</label
        ><input
          type="text"
          class="form-control"
          id="references"
          required
          placeholder="@johndoe"
        />
      </div>

      <div class="col-md-12">
        <label for="profile" class="form-label">Profile</label
        ><textarea
          name=""
          id="profile"
          cols="30"
          rows="10"
          class="form-control"
          required
          placeholder="A resume is a document that sums up your qualifications for the job that you're applying for. Studies say that the average recruiter scans a resume for all of six seconds—so it’s absolutely critical for your resume to be clear, concise, and easy to read. You don’t want the recruiter to read your resume over and over again or find it really boring. First impressions matter.State your career goals and show how they align with the job description you’re targeting. Be brief and keep it from sounding generic. Be yourself."
          maxlength="600"
          minlength="50"
        ></textarea>
      </div>
      <div class="col-12">
        <h3>Work Experience</h3>
        <hr />
      </div>
      <div class="col-12 border rounded row g-2 py-3 px-2 mx-0 mt-0">
        <div class="col-md-3">
          <label for="start-year-0" class="form-label">Start Year</label>
          <input
            type="number"
            class="form-control"
            id="start-year-0"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="end-year-0" class="form-label">End Year</label>
          <input
            type="number"
            class="form-control"
            id="end-year-0"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="title-0" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title-0"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="position-0" class="form-label">Position</label>
          <input
            type="text"
            class="form-control"
            id="position-0"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="company-0" class="form-label">Company</label>
          <input
            type="text"
            class="form-control"
            id="company-0"
            required
            maxlength="30"
            minlength="4"
          />
        </div>
      </div>
      <div class="col-12 border rounded row g-2 py-3 px-2 mt-3 mx-0">
        <div class="col-md-3">
          <label for="start-year-1" class="form-label">Start Year</label>
          <input
            type="number"
            class="form-control"
            id="start-year-1"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="end-year-1" class="form-label">End Year</label>
          <input
            type="number"
            class="form-control"
            id="end-year-1"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="title-1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title-1"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="position-0" class="form-label">Position</label>
          <input
            type="text"
            class="form-control"
            id="position-1"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="company-1" class="form-label">Company</label>
          <input
            type="text"
            class="form-control"
            id="company-1"
            required
            maxlength="30"
            minlength="4"
          />
        </div>
      </div>
      <div class="col-12 border rounded row g-2 py-3 px-2 mt-3 mx-0">
        <div class="col-md-3">
          <label for="start-year-2" class="form-label">Start Year</label>
          <input
            type="number"
            class="form-control"
            id="start-year-2"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="end-year-2" class="form-label">End Year</label>
          <input
            type="number"
            class="form-control"
            id="end-year-2"
            required
            minlength="1950"
            maxlength="<%- (new Date()).getFullYear() %>"
          />
        </div>

        <div class="col-md-3">
          <label for="title-2" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title-2"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="position-0" class="form-label">Position</label>
          <input
            type="text"
            class="form-control"
            id="position-2"
            required
            maxlength="30"
            minlength="4"
          />
        </div>

        <div class="col-md-3">
          <label for="company-2" class="form-label">Company</label>
          <input
            type="text"
            class="form-control"
            id="company-2"
            required
            maxlength="30"
            minlength="4"
          />
        </div>
      </div>
      <div class="col-12">
        <label class="form-label" for="work-summary">Work Summary</label>
        <textarea
          id="work-summary"
          required
          minlength="20"
          maxlength="400"
          class="form-control"
          placeholder="Explain your overall work summary, the experiences you have acquired over the years"
        ></textarea>
      </div>
      <div class="col-12">
        <label class="form-label" for="communication-experience"
          >Communication Experience</label
        >
        <textarea
          id="communication-experience"
          required
          minlength="20"
          maxlength="400"
          class="form-control"
          placeholder="To start your resume, summarize your key responsibilities, accomplishments, and past experience. Where appropriate, definitely use the language and words you find in the specific job description and target 3-5 key areas"
        ></textarea>
      </div>

      <div class="col-12">
        <label class="form-label" for="leadership-experience"
          >Leadership Experience</label
        >
        <textarea
          id="leadership-experience"
          required
          minlength="20"
          maxlength="400"
          class="form-control"
          placeholder='For example, if you&apos;re a quick learner, then maybe you can write something like "motivated to quickly resolve challenges."'
        ></textarea>
      </div>

      <div class="col-12">
        <h3>Skills</h3>
        <hr />
      </div>
      <div class="col-12">
        <input
          id="skills"
          required
          placeholder="List all your skills with a comma e.g HTML, CSS, Javascript, React. At least 3 skills!"
          class="form-control"
        />
      </div>
      <div class="col-12">
        <h3>Education</h3>
        <hr />
      </div>
      <div class="col-md-4">
        <label for="course-name" class="form-label">Name Of Course</label
        ><input
          type="text"
          class="form-control"
          id="course-name"
          required="required"
          maxlength="30"
          minlength="5"
        />
      </div>
      <div class="col-md-4">
        <label for="course-city" class="form-label">City</label
        ><input
          type="text"
          class="form-control"
          id="course-city"
          required
          maxlength="23"
          minlength="5"
        />
      </div>
      <div class="col-md-4">
        <label for="course-state" class="form-label">State</label
        ><input
          type="text"
          class="form-control"
          id="course-state"
          required
          maxlength="23"
          minlength="5"
        />
      </div>

      <div class="col-md-12">
        <label for="education-summary" class="form-label">Summary</label
        ><textarea
          name=""
          id="education-summary"
          cols="30"
          rows="6"
          class="form-control"
          required="required"
          maxlength="200"
          minlength="5"
          placeholder="I did some internships here"
        ></textarea>
      </div>

      <%- include("../partials/download-btn1.ejs") %>
    </div>
  </form>
  <div class="d-none" id="loader"><%- include("../partials/loader.ejs") %></div>
</main>
<%- include("../partials/layout-bottom.ejs") %>
