<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>file_1668420617095</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      .s1 {
        color: black;
        font-family: Georgia, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 45pt;
      }
      p {
        color: black;
        font-family: Georgia, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 22pt;
        margin: 0pt;
      }
      .s3 {
        color: #638276;
        font-family: Georgia, serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
      }
      .s4 {
        color: #404040;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s5 {
        color: #404040;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <p
      class="s1"
      style="
        padding-top: 4pt;
        padding-left: 57pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      {{ firstName }} <span style="color: #638276">{{ surname }}</span>
    </p>
    <p style="text-indent: 0pt; text-align: left" />
    <p
      style="
        padding-top: 6pt;
        padding-left: 57pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      {{ title }}
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <table style="border-collapse: collapse; margin-left: 5pt" cellspacing="0">
      <tr style="height: 39pt">
        <td
          style="
            width: 180pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #638276;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s3"
            style="padding-right: 5pt; text-indent: 0pt; text-align: right"
          >
            Contact
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #638276;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s3"
            style="padding-left: 6pt; text-indent: 0pt; text-align: left"
          >
            Objective
          </p>
        </td>
      </tr>
      <tr style="height: 79pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 2pt;
              padding-left: 77pt;
              text-indent: 48pt;
              line-height: 120%;
              text-align: left;
            "
          >
            {{ address }} {{ city }}, {{street}} {{zipCode}}
          </p>
          <p
            class="s4"
            style="
              padding-left: 138pt;
              padding-right: 5pt;
              text-indent: -4pt;
              line-height: 120%;
              text-align: right;
            "
          >
            {{phone}} {{email}}
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-bottom-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 2pt;
              padding-left: 6pt;
              padding-right: 4pt;
              text-indent: 0pt;
              line-height: 120%;
              text-align: left;
            "
          >
            {{profile}}
          </p>
        </td>
      </tr>
      <tr style="height: 26pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 5pt;
              padding-right: 5pt;
              text-indent: 0pt;
              text-align: right;
            "
          >
            Education
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-top-color: #638276;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 5pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Experience
          </p>
        </td>
      </tr>
      <tr style="height: 33pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 108pt;
              text-indent: -12pt;
              line-height: 15pt;
              text-align: left;
            "
          >
            {{ education.name}}, {{education.city}}, {{education.state}}
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s5"
            style="
              padding-top: 2pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{ workExperience.[0].startYear }} – {{ workExperience.[0].endYear }}
          </p>
          <p
            class="s4"
            style="padding-left: 6pt; text-indent: 0pt; text-align: left"
          >
            {{ workExperience.[0].title}} • {{workExperience.[0].position}} • {{workExperience.[0].company}}
          </p>
        </td>
      </tr>
      <tr style="height: 46pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 1pt;
              padding-left: 7pt;
              text-indent: 10pt;
              line-height: 120%;
              text-align: left;
            "
          >
          [You might want to include your GPA here and a brief summary of
          relevant coursework, awards, and honors.]
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s5"
            style="padding-left: 6pt; text-indent: 0pt; text-align: left"
          >
          {{workExperience.[1].startYear}} – {{workExperience.[1].endYear}}
          </p>
          <p
            class="s4"
            style="padding-left: 6pt; text-indent: 0pt; text-align: left"
          >
          {{ workExperience.[1].title}} • {{workExperience.[1].position}} • {{workExperience.[1].company}}
          </p>
        </td>
      </tr>
      <tr style="height: 41pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 1pt;
              padding-right: 5pt;
              text-indent: 0pt;
              text-align: right;
            "
          >

          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s5"
            style="
              padding-top: 7pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
          {{workExperience.[2].startYear}} – {{workExperience.[2].endYear}}
          </p>
          <p
            class="s4"
            style="padding-left: 6pt; text-indent: 0pt; text-align: left"
          >
          {{ workExperience.[2].title}} • {{workExperience.[2].position}} • {{workExperience.[2].company}}
          </p>
        </td>
      </tr>
      <tr style="height: 23pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 8pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{workSummary}}
          </p>
        </td>
      </tr>
      <tr style="height: 19pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-bottom-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 1pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >

          </p>
        </td>
      </tr>
      <tr style="height: 26pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 5pt;
              padding-right: 5pt;
              text-indent: 0pt;
              text-align: right;
            "
          >
            Key Skills
          </p>
        </td>
        <td
          style="
            width: 360pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-top-color: #638276;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 5pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Communication
          </p>
        </td>
      </tr>
      <tr style="height: 94pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 2pt;
              padding-left: 70pt;
              padding-right: 5pt;
              text-indent: 53pt;
              line-height: 120%;
              font-weight: normal;
              text-align: right;
            "
          >
            {{#each skills}}
              <span>{{this}}<br/></span>
            {{/each}}
          </p>

        </td>
        <td
          style="
            width: 360pt;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-bottom-color: #638276;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 2pt;
              padding-left: 6pt;
              padding-right: 9pt;
              text-indent: 0pt;
              line-height: 120%;
              text-align: left;
            "
          >
            {{communicationExperience}}
          </p>
        </td>
      </tr>
      <tr style="height: 81pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 360pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-top-color: #638276;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-bottom-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 6pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Leadership
          </p>
          <p
            class="s4"
            style="
              padding-top: 6pt;
              padding-left: 6pt;
              padding-right: 9pt;
              text-indent: 0pt;
              line-height: 120%;
              text-align: left;
            "
          >
            {{leadershipExperience}}
          </p>
        </td>
      </tr>
      <tr style="height: 44pt">
        <td
          style="
            width: 180pt;
            border-right-style: solid;
            border-right-width: 2pt;
            border-right-color: #638276;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 360pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-top-color: #638276;
            border-left-style: solid;
            border-left-width: 2pt;
            border-left-color: #638276;
          "
        >
          <p
            class="s3"
            style="
              padding-top: 5pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            References
          </p>
          <p
            class="s4"
            style="
              padding-top: 6pt;
              padding-left: 6pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{ references }}
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
